.full-login {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.login-left {
    // background: linear-gradient(to bottom, #393838, rgba(0, 174, 255, 0.7))
    background: url('/assets/peakpx.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-right {
    place-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.center-card {
    display: flex;
    width: 80%;
    align-items: center;
    border-radius: 15px;
    border-color: 1px solid rgba(0, 174, 255, 0.7);
    border: 0.5px solid rgba(0, 174, 255, 0.7);
}

mat-form-field {
    width: 80%;
    margin: 10px;
    align-items: center;
}

mat-label {
    font-size: 15px;
}

mat-card-title {
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}

mat-card-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-button {
    display: flex;
    align-items: center;
    background-color: #474646;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 174, 255, 0.7);

}

.my-button:hover {
    background-color: #00aeff;
    box-shadow: 0 0 20px rgba(0, 174, 255, 0.7);
}

h1 {
    font-size: 40px;
}