.full-register {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/assets/peakpx.jpg');
    background-repeat: no-repeat;
    // background-position: center;
    background-size: auto;
}

.center-card {
    margin: 20px;
    width: 50%;
    height: 50%;
    align-items: center;
    border-radius: 15px;
    // border-color: 1px solid rgba(0, 174, 255, 0.7);
    // border: 0.5px solid rgba(0, 174, 255, 0.7);
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
}

.actions-card {
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    width: 80%;
    margin: 10px;
    align-items: center;
}

mat-label {
    font-size: 15px;
}

mat-card-title {
    justify-content: center;
    font-size: 30px;
    padding: 20px;
}

mat-card-content {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.my-button {
    display: flex;
    align-items: center;
    background-color: #393838;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 174, 255, 0.7);
    margin: 10px;
    font-size: 15px;
}

.my-button:hover {
    background-color: #00aeff;
    box-shadow: 0 0 20px rgba(0, 174, 255, 0.7);
}