<div class="skills-container">
    <h2>SKILLS</h2>
    <hr>
    <div class="columns-container">
        <!-- <div class="left-column">
            <h3>Herramientas con las que trabajo</h3>
        </div> -->
        <div class="right-column">
            <div class="skills-list">
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-angular"></ion-icon>
                    </div>
                    <div class="skill-name">Angular</div>
                </div>
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-html5"></ion-icon>
                    </div>
                    <div class="skill-name">HTML</div>
                </div>
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-css3"></ion-icon>
                    </div>
                    <div class="skill-name">CSS</div>
                </div>
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-javascript"></ion-icon>
                    </div>
                    <div class="skill-name">JavaScript</div>
                </div>
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-figma"></ion-icon>
                    </div>
                    <div class="skill-name">Figma</div>
                </div>
                <div class="skill-card">
                    <div class="skill-icon">
                        <ion-icon name="logo-windows"></ion-icon>
                    </div>
                    <div class="skill-name">Microsoft SQL</div>
                </div>
            </div>
        </div>
    </div>
</div>