.contactme-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #393838, #393838);
    height: 100vh;
    border-bottom: 0.5px solid #6d6b6b;
    padding-top: 20px;
}

.columns-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.contactme-lateral {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}

.contactme-principal {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.contact__information {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact__icon {
    margin-right: 10px;
    color: white;
}

.contact__icon :hover {
    color: #00aeff;
    transition: color 0.5s ease;
}

.contact__title {
    margin: 0;
    color: white;
    font-size: 20px;
}

.contact__subtitle {
    margin: 0;
    font-size: 15px;
}

.contact__subtitle {
    margin: 0;
    color: white;
    font-size: 15px;
    //font-weight: bold;
    margin-top: 20px;
}

.contact-form {
    margin-bottom: 20px;
}

.contact-form label {
    display: block
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    font-size: 16px;
}

.contact-card {
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    border: 1px solid #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-button {
    display: flex;
    align-items: center;
    background-color: #474646;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 0 10px rgba(0, 174, 255, 0.7);

}

.my-button:hover {
    background-color: #00aeff;
    box-shadow: 0 0 20px rgba(0, 174, 255, 0.7);
}

h2 {
    color: #00aeff;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width: 768px) {
    .contactme-container {
        flex-direction: column;
    }

    .contactme-lateral {
        margin-right: 0;
        margin-bottom: 30px;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .contact-card {
        padding: 20px;
    }

    .contact__information {
        flex-direction: column;
        align-items: flex-start;
    }

    .contact__icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .contact__text {
        text-align: center;
    }

    .contact__subtitle {
        margin-top: 10px;
    }
}