<section class="about">
    <div class="info-basica">
        <h1>SOBRE MI</h1>
        <hr>
        <br>
        <strong>
            <p class="ptext">Juan David Maldonado Rodriguez actualmente desarrollador FrontEnd </p>
        </strong>
        <p>Desarrollador frontend con un interes en el manejo de tecnologías y
            lenguajes web, aunque no tengo estudios porfesionales o tecnicos, me encanta aprender y probar de lo que soy
            capaz . Mi trayectoria laboral previa en el área administrativa me ha brindado habilidades valiosas
            para gestionar procesos, analizar datos y trabajar en equipo.</p>
        <div class="info-list row">
            <div class="col-sm-6">
                <div class="span-text"><span>Nombre : </span> Juan David Maldonado Rodriguez</div>
                <div class="span-text"><span>Fecha de Nacimiento : </span> 19 de Abril 1995 </div>
                <div class="span-text"><span>Dirección : </span> Zipaquira Colombia </div>
                <div class="span-text"><span>Email : </span> juan.maldonado-r@hotmail.com</div>
                <div class="span-text"><span>Telefono : </span> + 57 305 311 4648</div>
                <div class="span-text"><strong><span>Interes : </span> Desarrollador FrontEnd</strong></div>
            </div>
            <div class="col-sm-6">
                <h2>Mis hobbies</h2>
                <div class="">
                    <ul class="icon_estilos">
                        <li><a target="_blank"><ion-icon
                                    name="game-controller-outline"></ion-icon></a><span>Juegos</span></li>
                        <li><a target="_blank"><ion-icon
                                    name="film-outline"></ion-icon></a><span>Películas</span>
                        </li>
                        <li><a target="_blank"><ion-icon
                                    name="headset-outline"></ion-icon></a><span>Música</span>
                        </li>
                        <li><a target="_blank"><ion-icon
                                    name="library-outline"></ion-icon></a><span>Estudiar</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <button class="my-button" mat-button>Descargar CV
        <mat-icon>cloud_download</mat-icon></button>
    <br>
    <div class="info-Estudio">
        <h2>EDUCACIÓN</h2>
        <div class="info-columnaestudios row">
            <div class="card col-sm-6 color-principal">
                <div><span>Universidad: </span> Escuela Colombiana de Ingenieria Julio Garavito </div>
                <div><span>Fechas: </span> Enero 2012 - Diciembre 2017</div>
                <div><span>Titulo obtenido: </span>Profesional en Ingenieria Civil</div>
            </div>
            <div class="card col-sm-6">
                <div><span>Bachillerato: </span> Institución Educativa Santiago Perez</div>
                <div><span>Fechas: </span> Enero 2006 - Diciembre 2011</div>
                <div><span>Titulo obtenido:: </span> Bachiller Academico </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Diplomado: </span> Programa de formación general en habilidades de programación con énfasis
                    en Desarrollo Web (200 horas)</div>
                <div><span>Fechas: </span> Agosto 2022 - Noviembre 2022</div>
                <div><span>Diploma Obtenido: </span> Fundamentos de Programación en Python 2022 </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Diplomado: </span> Desarrollo de Software/ Universidad Tecnológica de Pereira (200 horas)
                </div>
                <div><span>Fechas: </span> Agosto 2022 - Noviembre 2022</div>
                <div><span>Diploma Obtenido: </span> Fundamentos de Programación en Python 2022 </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Diplomado: </span> Programación básica en JAVA / Universidad Tecnológica de Pereira (200
                    horas)</div>
                <div><span>Fechas: </span> Junio 2022 - Agosto 2022</div>
                <div><span>Diploma Obtenido: </span> Programación básica en JAVA 2022 </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Diplomado: </span> Fundamentos de Programación en Python 2022/ Universidad Tecnológica de
                    Pereira (200 horas)</div>
                <div><span>Fechas: </span> Abril 2022 - Junio 2022</div>
                <div><span>Diploma Obtenido: </span> Fundamentos de Programación en Python 2022 </div>
            </div>
        </div>
    </div>
    <div class="info-Experiencia">
        <h2>EXPERIENCIA</h2>
        <div class="info-columnaexperiencia row">
            <div class="card col-sm-6 color-principal">
                <div><span>Empresa: </span> Smart Law Tech (SLT) </div>
                <div><span>Fechas: </span> Noviembre 2022 - Actual </div>
                <div><span>Cargo: </span> Desarrollador de Software, Enfocado en el desarrollo FrontEnd</div>
            </div>
            <div class="card col-sm-6">
                <div><span>Empresa: </span> Flores Britania S.A.S. </div>
                <div><span>Fechas: </span> Enero 2022 - Noviembre 2022 </div>
                <div><span>Cargos: </span> Asistente de Nomina, Encargado del ingreso de novedades al sistema de nómina,
                    incluyendo horas extras, recargos, deducciones por créditos, incrementos salariales, incapacidades,
                    licencias y suspensiones. Atencion al publico ademas de apoyo en el área de gestión
                    humana, colaborando en diversas actividades relacionadas con la vinculación del personal y el
                    cumplimiento de los objetivos del cargo. </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Empresa: </span> C.I. Fillco Flowers S.A.S. </div>
                <div><span>Fechas: </span> Marzo 2021 - Diciembre 2021 </div>
                <div><span>Cargos: </span> Asistente Administrativo, Encargado del manejo de Inventarios, Compras,
                    Gastos, seguimiento y control de datos de producción. </div>
            </div>
            <div class="card col-sm-6">
                <div><span>Empresa: </span> FLORES DE CHECUA SAS. </div>
                <div><span>Fechas: </span> Junio 2019 - Diciembre 2020 </div>
                <div><span>Cargos: </span> Asistente Administrativo, Encargado del seguimiento y control de los datos de
                    producción diaria estableciendo parámetros de control y mejora en las labores, apoyo de labores de
                    logística y seguimiento de ventas en el área de exportación de productos cumpliendo las metas
                    fijadas por la gerencia. </div>
            </div>
        </div>
    </div>
</section>