<section class="about">
    <div class="info-basica">
        <h2>SOBRE MI</h2>
        <p> Soy Juan David Maldonado Rodriguez actualmente desarrollador FrontEnd </p>
        <p>Profesional con conocimientos en el manejo de AutoCAD, herramientas
            ofimáticas y programación. Con experiencia laboral en el área
            administrativa responsable de procesos de nómina, compras e insumos,
            verificación de precios, requisiciones, cotizaciones, seguimiento a
            entregas, control de costos, inventarios, elaboración de órdenes de
            compra, registros de producción, distribución, rendimiento de personal.
            Persona con facilidad y disposición de aprender, perseverante, analítico,
            comprometido con la mejora continua, con buenas relaciones
            interpersonales y orientado al cumplimiento de objetivos.</p>
        <div class="info-list row">
            <div class="col-sm-6">
                <div><span>Nombre : </span> Juan David Maldonado Rodriguez</div>
                <div><span>Fecha de Nacimiento : </span> 19 de Abril 1995 </div>
                <div><span>Dirección : </span> Zipaquira Colombia </div>
                <div><span>Email : </span> juan.maldonado-r@hotmail.com</div>
                <div><span>Telefono : </span> + 57 305 311 4648</div>
                <div><strong><span>Interes : </span> Desarrollador FrontEnd</strong></div>
            </div>
            <div class="col-sm-6">
                <h2>Mis hobbies</h2>
                <div class="icon_estilos">
                    <li><a href="" target="_blank"><ion-icon name="game-controller-outline"></ion-icon></a><span>Juegos</span></li>
                    <li><a href="" target="_blank"><ion-icon name="film-outline"></ion-icon></a><span>Películas</span></li>
                    <li><a href="" target="_blank"><ion-icon name="headset-outline"></ion-icon></a><span>Música</span></li>
                    <li><a href="" target="_blank"><ion-icon name="library-outline"></ion-icon></a><span>Estudiar</span></li>
                </div>
            </div>
        </div>
    </div>
    <button class="my-button" mat-button color="primary">Descargar CV
        <mat-icon>cloud_download</mat-icon></button>
        <br>
    <div class="info-Estudio">
        <h2>ESTUDIO </h2>
        <div class="info-columnaestudios row">
            <div class="col-sm-6">
                <div><span>Universidad: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Estudios: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
            <div class="col-sm-6">
                <div><span>Universidad: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Estudios: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
            <div class="col-sm-6">
                <div><span>Universidad: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Estudios: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
        </div>
    </div>
    <div class="info-Experiencia">
        <h2>EXPERIENCIA</h2>
        <div class="info-columnaexperiencia row">
            <div class="col-sm-6">
                <div><span>Empresa: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Cargo: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
            <div class="col-sm-6">
                <div><span>Empresa: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Cargos: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
            <div class="col-sm-6">
                <div><span>Empresa: </span> </div>
                <div><span>Fechas: </span> </div>
                <div><span>Cargos: </span> "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed
                    do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                    nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                    occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</div>
            </div>
        </div>
    </div>
</section>