app-header,
app-home,
app-about,
app-contactme {
  display: block;
  margin: 0;
}

// Paletas de Colores

GammaColorNo1 {
  color: #393838;
  color: #6d6b6b;
  color: #7caef3;
  color: #00aeff;
  color: rgba(0, 174, 255, 0.7)
}

GammaColorNo2555 {
  color: #1f112c;
  color: #4d3d6f;
  color: #cec0d9;
  color: #7caef3;
  color: #1956be
}

GammaColorNo1334 {
  color: #B682bd;
  color: #c6bed8;
  color: #f3f6e9;
  color: #bcd8f9;
  color: #5c87ba;
}

GammaColorNo4381 {
  color: #E5E5E5;
  color: #D5D1D0;
  color: #A7BCBD;
  color: #2CA5A9;
  color: #013f56;
}
