.home_section {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  // background-color: #131313;
  background: linear-gradient(to bottom, #131313, #393838);

}

.home_container {
  display: flex;
  height: 100%;
  // justify-content: space-between;
  // align-items: stretch; 
}

.home_lateral {
  flex: 0.5;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // background-color: #fdfdfd;
  background: linear-gradient(to bottom, #131313, #393838);
  border: 0.5px white;
}

.home_principal {
  flex: 4.5;
  align-items: center;
  display: flex;
  margin: 20px;
  color: white;
  justify-content: center;
}

.my-button {
  display: flex;
  align-items: center;
  background-color: #474646;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, box-shadow 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 174, 255, 0.7);
}

.my-button:hover {
  background-color: #00aeff;
  box-shadow: 0 0 20px rgba(0, 174, 255, 0.7);
}

.home_info {
  width: 40%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid #393838;
  // border-radius: 8px;
  // background-color:#131313;
  //background-color: linear-gradient(to bottom, #131313, #393838);
  flex-direction: column;
}

.image {
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: auto;
  border: 2px #00aeff;
}

.home_info h4 {
  text-align: center;
}

.home_social {
  display: flex;
  list-style: none;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home_sociallateral li {
  margin: 10px;
}

.home_social li a {
  color: white;
  justify-content: center;
}

.home_sociallateral {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home_sociallateral li a {
  color: white;
  justify-content: center;
  transition: color 0.5s ease; 
}

.home_sociallateral li a:hover {
  color: #00aeff; /* Cambia el color al pasar el cursor por encima */
  padding-left: 5px;
  transition: color 1s ease; 
  font-size: 30px;
}


