<section class="home_section">
    <div class="home_container">
        <div class="home_lateral">
            <div class="home_sociallateral">
                <li><a href="" target_="_blank"><i class="ion-social-facebook"></i></a></li>
                <li><a href="" target_="_blank"><i class="ion-social-linkedin"></i></a></li>
                <li><a href=""><i class="ion-social-github" target_="_blank"></i></a></li>
                <li><a href="" target_="_blank"><i class="ion-social-youtube"></i></a></li>
                <li><a href=""><i class="ion-social-whatsapp" target_="_blank"></i></a></li>
                <li><a href=""><i class="ion-social-pinterest" target_="_blank"></i></a></li>
            </div>

        </div>
        <div class="home_principal">
            <div class="home_info">
                <div>
                    <img src="assets\jd ia.jpg" alt="Mi imagen" class="image">
                </div>
                <h2>Juan David Maldonado</h2>
                <h3><strong>Desarrollador FrontEnd</strong></h3>
                <!-- <button class="my-button" mat-button color="primary">Descargar CV
                    <mat-icon>cloud_download</mat-icon></button> -->
                <button class="my-button" mat-button color="primary">Contactame <mat-icon>contacts</mat-icon></button>
            </div>
        </div>
    </div>
</section>