/* You can add global styles to this file, and also import other style files */

// @forward '@nebular/theme/styles/globals' as s;
// @forward '@nebular/auth/styles/globals';

// @include nb-install() {
//     @include nb-theme-global();
//     @include nb-auth-global(); // append the install mixin inside of the nb-install
// };

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Fuentes 

.font1 {
    font-family: 'Work Sans', sans-serif;
}

// Colores Botones

$pink: #ff23ad;
$lemon: #ebde30;
$green: #00ffb3;
$blue: #00aeff;