<header class="headear font1">
    <nav class="nav_container">
        <a href="#" class="nav_log">JD</a>
        <ul class="nav_list grid">
            <li class="nav_item">
                <a href="#home" class="nav_link link-cambio" data=Inicio routerLink="/" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"> Home </mat-icon>
                    <span>Inicio</span>
                    <i class="link--link-cambio-b-tr"></i>
                    <i class="link--link-cambio-b-bl"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#About" class="nav_link link-cambio" routerLink="/about" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="About" fontIcon="perm_identity"> perm_identity
                    </mat-icon>
                    <span>About</span>
                    <i class="link--link-cambio-b-tr"></i>
                    <i class="link--link-cambio-b-bl"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#Skills" class="nav_link link-cambio" routerLink="/skills" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="Example list icon" fontIcon="list"> list </mat-icon>
                    <span>Skills</span>
                    <i class="link--link-cambio-b-tr"></i>
                    <i class="link--link-cambio-b-bl"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#Contacts" class="nav_link link-cambio" routerLink="/contactme" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="Example contacts icon" fontIcon="contacts"> contacts
                    </mat-icon>
                    <span>Contactme</span>
                    <i class="link--link-cambio-b-tr"></i>
                    <i class="link--link-cambio-b-bl"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#Login" class="nav_link link-cambio">
                    <mat-icon aria-hidden="false" aria-label="Example input icon" fontIcon="input">input </mat-icon>
                    <span>Login</span>
                    <i class="link--link-cambio-b-tr"></i>
                    <i class="link--link-cambio-b-bl"></i>
                </a>
            </li>
            <li class="nav_item">
                <a href="#Login" class="nav_link">
                    <mat-icon aria-hidden="false" aria-label="Example brightness_4 icon" fontIcon="brightness_4">
                        brightness_4 </mat-icon>
                </a>
            </li>
        </ul>
        
    </nav>
</header>