.headear {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, #000000, #000000);
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav_list.grid {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  list-style: none;
  flex-direction: column;
}

.nav_item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.nav_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  position: relative;
  transition: color 450ms ease;

  &::after,
  &::before {
    content: '';
    display: block;
    position: absolute;
    transition: width 540ms, opacity 300ms ease;
  }
}

.nav_log {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.image {
  width: 45px;
  height: 60px;
  border-radius: 50%;
}

// botones 
$pink : #ff29ad;
$lemon : #ebde30;
$green : #00ffb3;
$blue : #00aeff;

.link--4 {
  &::before {
    content: attr(data);
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: $blue;
    z-index: 1;
    overflow: hidden;
    text-shadow: 0 0 2px $blue;
    transition: all 480ms ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }
}

.link-cambio {
  &:hover {
    color: $blue;

    &::before,
    &::after {
      height: 100%;
    }

    &-b-tr::before {
      width: 100%;
    }

    &-b-bl::before {
      width: 100%;
    }
  }

  &-b-tr,
  &-b-bl {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 400ms ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: $blue;
      transition: all 400ms ease-in-out;
    }
  }

  &-b-tr::before {
    right: 0;
    bottom: 0;
    width: 0;
    height: 1px;
  }

  &-b-tr::after {
    right: 0;
    top: 0;
    height: 0;
    width: 1px;
  }

  &-b-bl::before {
    left: 0;
    top: 0;
    width: 0;
    height: 1px;
  }

  &-b-bl::after {
    left: 0;
    bottom: 0;
    height: 0;
    width: 1px;
  }

  &:hover {
    color: $blue;

    .link--link-cambio-b-tr::before,
    .link--link-cambio-b-bl::before {
      width: 100%;
    }

    .link--link-cambio-b-tr::after,
    .link--link-cambio-b-bl::after {
      height: 100%;
    }
  }
}

.link--link-cambio-b-tr,
.link--link-cambio-b-bl {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: $blue;
    transition: all 400ms ease-in-out;
  }
}

.link--link-cambio-b-tr::before {
  right: 0;
  bottom: 0;
  width: 0;
  height: 1px;
}

.link--link-cambio-b-tr::after {
  right: 0;
  top: 0;
  height: 0;
  width: 1px;
}

.link--link-cambio-b-bl::before {
  left: 0;
  top: 0;
  width: 0;
  height: 1px;
}

.link--link-cambio-b-bl::after {
  left: 0;
  bottom: 0;
  height: 0;
  width: 1px;
}